.header{
    padding: 15px 10px;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    background-color: rgb(218, 218, 218);
    color: black;
}

.toolbar-menu{
    background: silver;
}