<mat-toolbar>
  <h1 class="header">
    Planets Browser app
  </h1>
  <mat-toolbar-row class="toolbar-menu">
    <button mat-button [routerLink]="['welcome']">Start</button>
    <button mat-button [routerLink]="['welcome']">Planets List</button>
    <button mat-button [routerLink]="['welcome']">What is a planet</button>
    <button mat-button [routerLink]="['welcome']">About Author</button>
  </mat-toolbar-row>
  <!-- <button mat-button [routerLink]="['welcome']">Menu</button>
  <a [routerLink]="['welcome']">welcome-test-router</a> -->
</mat-toolbar>