<div class="header">
  Planets Browser app
</div>
<mat-toolbar>
  <!-- <mat-toolbar-row class="header">
  Planets Browser app
  </mat-toolbar-row> -->
  <mat-toolbar-row class="toolbar-menu">
    <button mat-button [routerLink]="['welcome']">Start</button>
    <button mat-button [routerLink]="['planets']">Planets List</button>
    <button mat-button [routerLink]="['definition']">What is a planet</button>
    <button mat-button [routerLink]="['author']">About Author</button>
  </mat-toolbar-row>
  <!-- <button mat-button [routerLink]="['welcome']">Menu</button>
  <a [routerLink]="['welcome']">welcome-test-router</a> -->
</mat-toolbar>