<mat-card>
  <mat-card-title>
    Who am I?
  </mat-card-title>

  <mat-card-subtitle>
    Just a modest front-end developer. Besides that I'm awesome and super cool :)
  </mat-card-subtitle>

  <mat-card-content>
    <p style="margin-top: 40px">
      I am
      <span style="text-decoration: line-through; font-style: italic; color: gray;">JavaScript</span>
      TypeScript developer.</p>

    <p>This is one of my firsts apps made in Angular. Usually I code in React. Coded - past tense. I`m starting to like Angular...
      :) </p>

    <p style="margin-top: 40px"> More about me can be found at this page:</p>
    <p>
      <a href="https://github.com/Sazar24/curriculum-vitae/blob/master/CV.md">CV-online-version</a>
    </p>
  </mat-card-content>

  <p style="margin: 70px 0px 20px 40px">
    <span style="font-style: italic; font-size: 16px;">
      Cezary Budrewicz 
    </span>
  </p>
</mat-card>