.planet-details-view{
    background-image: url('https://thumbs-prod.si-cdn.com/eOjWp-fKK6i-Jut6BpYsiPH7e3I=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/43/34/4334c90c-5425-4415-b6c5-07758514a309/taucetie.jpg');
    background-position: right center;
    background-repeat: no-repeat;
}