<mat-card>
  <mat-card-title>
    What is a Planet?
  </mat-card-title>
  <mat-card-content>
    <p> This seemingly simple question doesn't have a simple answer.</p>
    <p> Everyone knows that Earth, Mars and Jupiter are planets. At least, they are for now. Both Pluto and Ceres were once considered
      planets until new discoveries triggered scientific debate about how to best describe them - a vigorous debate that
      continues to this day. </p>
    <p>The most recent definition of a planet was adopted by the International Astronomical Union in 2006.</p>
    <p> It says a planet must do three things: </p>
    <ul>
      <p>
        <li> It must orbit a star (in our cosmic neighborhood, the Sun). </li>
      </p>
      <p>
        <li> It must be big enough to have enough gravity to force it into a spherical shape. </li>
      </p>
      <p>
        <li> It must be big enough that its gravity cleared away any other objects of a similar size near its orbit around the Sun. </li>
      </p>
    </ul>
  </mat-card-content>

  <mat-card-footer>
    <h6>
      source:
      <a href="https://solarsystem.nasa.gov/planets/overview/">
        https://solarsystem.nasa.gov/planets/overview/
      </a>
    </h6>
  </mat-card-footer>

</mat-card>