<mat-card>
  <mat-card-title>
    Welcome
  </mat-card-title>
  <mat-card-subtitle>
    On this simple planets-browser page.
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      There is only 8 planets in our Solar System
      <span style="opacity: 0.5;">(till 2006 it used to be 9 xD )</span>.
    </p>
    <p>
      So in order to expand content of this site, its showing other planets...
    </p>
    <p>
      ...Star-Wars Universe`s planets, to be exact :)
    </p>
    <mat-divider></mat-divider>
    <p style="margin-top: 50px">
      One last thing... </p>
    <p>
      Kind of obvious, but still should be said explictly, as this is kind of skill-presentation page.
    </p>
    <p>
      You can always navigate through navigation bar above, or through changing url. Your choice :)
    </p>
    <mat-divider></mat-divider>
    <p style="margin-top: 60px">
      Enjoy browsing :)
    </p>
  </mat-card-content>
</mat-card>