<div style="padding: 15px">

  <mat-card>
    <p style="color:red; border-bottom: 1 dashed red">
      {{planetsOnServerAmmount? null : "Attempting connect to the server..."}}
    </p>
    <p>
      There is {{planetsOnServerAmmount ? planetsOnServerAmmount : "[...calculating...]"}} planets in data-base.
    </p>
    <p>
      Pick one from the list to see its details. You can also filter them out by name.
    </p>
    <p>
      <mat-progress-bar mode="determinate" [value]='progressBarValue'></mat-progress-bar>
    </p>
  </mat-card>

  <mat-divider></mat-divider>
  <mat-card>
    <mat-form-field class="filter-input">
      <input matInput placeholder="planet name" value="" [(ngModel)]="filterInputValue">
    </mat-form-field>

    <table *ngIf='allPlanets.length' mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nr</th>
        <td mat-cell *matCellDef="let row">
          <!-- <a [routerLink]="['planets', row.appId]"> {{row.appId}}</a> -->
          <a [routerLink]="[row.appId]"> {{row.appId}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> population </th>
        <td mat-cell *matCellDef="let row"> {{row.population}} </td>
      </ng-container>

      <ng-container matColumnDef="climate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> climate </th>
        <td mat-cell *matCellDef="let row"> {{row.climate}} </td>
      </ng-container>

      <ng-container matColumnDef="gravity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> gravity </th>
        <td mat-cell *matCellDef="let row"> {{row.gravity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>